.header {
  padding: 10px 20px;
  background: #444;
  color: #fff;
}
.title {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.5em;
  font-weight: 600;
}
.logo {
  display: inline-block;
  margin-right: 5px;
}
.logo img {
  vertical-align: top;
}
