.list {
  width: 600px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listItem + .listItem {
  margin-top: 10px;
}
